.wrapper {
    font-size: 20px;
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 110px;
    background-color: azure;
    padding: 2px 20px 7px;
    border-radius: 13px;
    cursor: pointer;
}