.wrapper {
  position: relative;
  .img {
    background-color: rgb(223, 185, 185);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  .name {
    display: inline-block;
    font-size: 28px;
  }
  .avatar {
    height: 100px;
    width: 100px;
    font-size: 24px;
    margin: 10px 20px 0 0;
    float: left;
    position: relative;
    .button {
      position: absolute;
      font-size: 17px;
      width: 70px;
      text-align: center;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      border: rgb(109, 109, 109) solid 1px;
      &:hover {
          color: rgb(56, 56, 56);
          border: rgb(56, 56, 56) solid 1px;
      }
      border-radius: 5px;
      cursor: pointer;
      &.disabled {
          pointer-events: none;
      }
      &.follow {
          color: green;
          border: green solid 1px;
          font-weight: bold;
          &:hover {
              color: rgb(1, 77, 1);
              border: rgb(1, 77, 1) solid 1px;
          }
      }
  }
  }
  .text {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .changePhotoBlock {
    .changePhoto {
      display: inline-block;
      position: relative;
      .clicableText {
        border: 1px solid black;
        padding: 3px 12px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          border: 1px solid rgb(122, 122, 122);
          color: rgb(122, 122, 122);
      }
      }
      div {
        display: inline-block;
      }
      input {
        display: inline-block;
        margin-left: 15px;
      }
    }
  }

}