.wrapper {
  position: relative;
  .img {
    background-color: rgb(223, 185, 185);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  .name {
    display: inline-block;
    font-size: 28px;
  }
  .avatar {
    height: 100px;
    width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px 20px 0 0;
    float: left;
  }
  .text {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .changePhotoBlock {
    .changePhoto {
      display: inline-block;
      position: relative;
      .clicableText {
        border: 1px solid black;
        padding: 3px 12px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          border: 1px solid rgb(122, 122, 122);
          color: rgb(122, 122, 122);
      }
      }
      div {
        display: inline-block;
      }
      input {
        display: inline-block;
        margin-left: 15px;
      }
    }
  }

}