.wrapper {
    margin-left: 230px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    left: 0;
    .title {
        font-size: 28px;
    }
    .line {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        label {
            display: inline-block;
            width: 100px;
        }
        .error {
            margin-left: 10px;
            font-weight: 600;
            color: red;
        }
        &.checkbox {
            div {
                margin-left: -5px;
            }
        }
        &.button {
            button:nth-child(1) {
                margin-left: 98px;
            }
            button:nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}