.wrapper {
  max-width: 1024px;
  min-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
    'h h'
    'n c';
}
.content {
  grid-area: c;
  background-color: rgb(224, 224, 224);
  box-sizing: border-box;
  padding: 10px;
}
.content .error {
  font-size: 32px;
  margin: 30 auto;
  position: absolute;
  display: inline-block;
}